name: release
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: setup jdk 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'microsoft'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: get mod version
        id: mod_version
        run: echo "version=$(grep '^mod_version=' gradle.properties | cut -d'=' -f2)" >> $GITHUB_OUTPUT

      - name: get mod name
        id: mod_name
        run: echo "name=$(grep '^archives_base_name=' gradle.properties | cut -d'=' -f2)" >> $GITHUB_OUTPUT

      - name: create release
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/${{ steps.mod_name.outputs.name }}-${{ steps.mod_version.outputs.version }}.jar
          generate_release_notes: true
          draft: false
          prerelease: false
